{% extends "login/layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}      
    <section class="hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
            <h3 class="title has-text-grey">Login</h3>
            <div class="box">
              <form action="" method="post" name="login">
                {% csrf_token %}
                {{ form.as_p }}
                
                <button class="button is-block is-info is-large is-fullwidth" type="submit">
                  Login
                </button>
                <p>If you do not have any account, please sign up.</p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
